name: Deploy to Shuttle

on:
  workflow_dispatch:
  #schedule:
  #  - cron: '0 6,18 * * *'  # 12小时运行一次
  repository_dispatch:
    types: [service-down-alert]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check Trigger Event
        run: |
          echo "Workflow triggered by: ${{ github.event_name }}"
          if [[ "${{ github.event_name }}" == "repository_dispatch" ]]; then
            echo "触发事件类型 (Event Type): ${{ github.event.action }}"
            echo "收到来自 Uptime Kuma 的下线通知，开始执行自动恢复部署流程..."
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "工作流被手动触发，开始执行部署..."
          else
            echo "工作流由计划任务触发，开始执行部署..."
          fi
          
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install Shuttle CLI
        run: |
          cargo install cargo-shuttle --version 0.52.0 --locked --force

      - name: Update Cargo dependencies
        run: |
          cargo update

      # creat Secrets.toml 
      - name: Create Secrets.toml from GitHub Secrets
        env:
          UUID: ${{ secrets.UUID }}
          NEZHA_SERVER: ${{ secrets.NEZHA_SERVER }}
          NEZHA_PORT: ${{ secrets.NEZHA_PORT }}
          NEZHA_KEY: ${{ secrets.NEZHA_KEY }}
          ARGO_DOMAIN: ${{ secrets.ARGO_DOMAIN }}
          ARGO_AUTH: ${{ secrets.ARGO_AUTH }}
          ARGO_PORT: ${{ secrets.ARGO_PORT }}
          CFIP: ${{ secrets.CFIP }}
          CFPORT: ${{ secrets.CFPORT }}
          NAME: ${{ secrets.NAME }}
          FILE_PATH: ${{ secrets.FILE_PATH }}
          SUB_PATH: ${{ secrets.SUB_PATH }}
        run: |
          echo "UUID = '${UUID:-86ecdec6-59a2-42bc-8d29-6887c0956b1e}'" >> Secrets.toml
          echo "NEZHA_SERVER = '${NEZHA_SERVER}'" >> Secrets.toml
          echo "NEZHA_PORT = '${NEZHA_PORT}'" >> Secrets.toml
          echo "NEZHA_KEY = '${NEZHA_KEY}'" >> Secrets.toml
          echo "ARGO_DOMAIN = '${ARGO_DOMAIN}'" >> Secrets.toml
          echo "ARGO_AUTH = '${ARGO_AUTH}'" >> Secrets.toml
          echo "ARGO_PORT = '${ARGO_PORT:-8080}'" >> Secrets.toml
          echo "CFIP = '${CFIP:-cf.877774.xyz}'" >> Secrets.toml
          echo "CFPORT = '${CFPORT:-443}'" >> Secrets.toml
          echo "NAME = '${NAME:-Shuttle}'" >> Secrets.toml
          echo "FILE_PATH = '${FILE_PATH:-./tmp}'" >> Secrets.toml
          echo "SUB_PATH = '${SUB_PATH:-sub}'" >> Secrets.toml
          
          echo "Secrets.toml created successfully:"
          cat Secrets.toml

      - name: Deploy to Shuttle
        env:
          SHUTTLE_API_KEY: ${{ secrets.SHUTTLE_API_KEY }}
        run: |
          cargo shuttle deploy --name shuttle-app
